---
title: About Sunbird
desc: Sunbird is an open source, configurable, extendable, modular learning management platform architected for scale and designed to support multiple teaching and learning solutions supporting multiple languages and available for online and offline use.
---
<!DOCTYPE html>
<html>
	<head>
	{% include head.html %}
	<meta name="robots" content="index,follow">
	</head>
  <body>
	  {% include header.html %}
    <div class="aboutpage fill-height inner__content fixed-content">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<h1>About Sunbird</h1>
						<p><strong>Sunbird - Open source learning management microservices</strong></p>
						<p>Making learning happen for a large population is a result of concerted, coordinated efforts of the government, multiple organizations and individuals - parents, teachers and several other stakeholders including the learner. Technology can hasten access to and amplify learning opportunities for large underserved populations.</p>
						<p>Sunbird is an open source repository of learning management microservices architected for scale and designed to support diverse teaching and learning solutions. Sunbird is the open source contribution by EkStep Foundation and is licensed under MIT licence. EkStep Foundation is a not for profit foundation registered in India and co-founded by Nandan Nilekani, Rohini Nilekani and Shankar Maruwada.  &nbsp; <a class="readMore">Show more...</a></p>
						<div class="more-text" style="display:none;">
						<p>Sunbird makes it possible to leverage technology for education by providing building blocks for the creation of learning solutions. Sunbird contains well architected common building blocks that can be orchestrated to create multiple solutions.</p>	
						<p><strong>Sunbird microservices covers the following broad feature areas:</strong></p>
						<ul>
							<li>Courses, trainings, textbooks, lesson plans and assessments</li>
							<li>Content management</li>
							<li>User and Organization profile and registry services</li>
							<li>Announcements, discussions, notifications and circulars</li>

							
						</ul>
						<p>Sunbird has been developed and made open source so as to enable the education and learning ecosystem to innovate and imagine solutions for lifelong learning.</p>
						<p><a class="readLess">Show less ...</a></p>
						</div>
						
					</div>
				</div>
			</div>
		</div>

	{% include footer.html %}
	<script>
	$(document).ready(function(){
		$(".readMore").click(function(){
			$(".more-text").slideDown('slow','swing');
			$(".readMore").addClass("hide");
		});
		$(".readLess").click(function(){
			$(".more-text").slideUp('slow','swing');
			$(".readMore").removeClass("hide");
		});
	});
	</script>
  </body>
</html>
